<!DOCTYPE html>
<html lang="en">
   
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

  </head>
  <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section id="regsection"> 

        <section id="food_request">
            <form name="sentMessage" id="regform">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <!-- <input class="form-control" id="name" name="name" type="text" placeholder="Name"
                            required="required"> -->
                        <select class="form-control" id="area" name="area" type="text" placeholder="Area"
                        required="required">
                        <option value="koparkhairne">Koparkhairne</option>
                        <option value="nerul">Nerul</option>
                        <option value="vashi">Vashi</option>
                    </select>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="location" name="location"  placeholder="Location"
                            required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>


                <!-- <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">
                        <input class="form-control" id="food_desc" name="food_desc" type="text"
                            placeholder="Food Description">
                        <p class="help-block text-danger"></p>
                    </div>
                </div> -->

            </form>
        </section>
        

    </section>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

<>

</html>