<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        console.log(sessionStorage)
    </script>
    <style>
        th {
            width: 85%;
        }

        h2 {
            font-size: 1.75rem !important;
            font-weight: 500 !important;
        }

        h5 {
            font-size: 1rem !important;
        }

        h3 {
            font-size: 1.5rem !important;
        }

        select {
            font-size: 1rem !important;
        }

        td {
            text-align: left !important;
        }

        th {
            text-align: left !important;
        }

        #btn {
            text-align: center !important;
            width: 35% !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        @media (max-width: 670px) {
            section {
                width: 80%;
            }

            th {
                width: 35% !important;
            }

            h2 {
                font-size: 1.75rem !important;
                font-weight: 600 !important;
            }

            h5 {
                font-size: 0.75rem !important;
            }

            h3 {
                font-size: 1.25rem !important;
            }

            select {
                font-size: 1rem !important;
            }

            #btn {
                text-align: center !important;
                width: 100% !important;
                margin-left: 2% !important;
                margin-right: 2% !important;
                padding-top: 2% !important;
            }

            td {
                padding-top: 2%;
                text-align: center !important;
                margin-left: 2% !important;
                margin-right: 2% !important;

            }
        }
    </style>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <% if(account_type == "donor") { %>
    <section id="donordashboard">
        <div>
            <h2 style="font-weight: 600;">Donor Dashboard</h2>
            <table>
                <th style="font-weight:600;">
                    <h3>Pickup Location</h3>
                </th>
                <th style="font-weight:600;">
                    <h3>Acceptance</h3>
                </th>
                <tr>
                    <td style="text-align: left;">
                        <h5 style="float:left;">Bombay Cateres,Turbe Sector-22,Dr. Patil Banglow,Navi Mumbai</h5>
                    </td>
                    <td style="text-align: right;">
                        <select id="donordropdown">
                            <option value="Order Picked">Order Picked</option>
                            <option value="Not Available">Not Available</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        <center> <input type="submit" id="btn" class="btn btn-primary updatedonorstatus" value="Update Status" name="updatestatus"></center>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <% } %>
    <% if(account_type == "volunteer") { %>

    <section id="volunteerdashboard">
        <div>
            <h2 style="font-weight: 600;">Volunteer Dashboard</h2>
            <table>
                <th style=" font-weight:600;">
                    <h3>Pickup Location</h3>
                </th>
                <th style=" font-weight:600;">
                    <h3>Acceptance</h3>
                </th>
                <tr>
                    <td style="text-align: left;">
                        <h5>Bombay Cateres,Turbe Sector-22,Dr. Patil Banglow,Navi Mumbai</h5>
                    </td>
                    <td style="text-align: right;">
                        <select id="volunteerdropdown">
                            <option value="I'll Pick">I'll Pick</option>
                            <option value="I can't Pick">I can't pick</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center> <input type="submit" id="btn" class="btn btn-primary updatevolunteerstatus" value="Update Status" name="updatepickupstatus" ></center>
                    </td>
                </tr>
            </table>

        </div>
    </section>
    <% } %>
    <script>
        if("<%= account_type %>" == "volunteer"){

        $(".updatevolunteerstatus").on('click', function (e) {
            e.preventDefault();
            console.log("Hello"+$("#volunteerdropdown").val())
            var response = $("#volunteerdropdown").val();
            console.log(!response.localeCompare("I'll Pick"))
            if (!response.localeCompare("I'll Pick")) {
                swal({
                    title: "Thanks",
                    text: "The donor will be waiting for you!",
                    icon: "success",
                    dangerMode: true,
                })
            }else{
                swal({
                    title: "It's Ok",
                    text: "Hope you can pick next time",
                    icon: "warning",
                    dangerMode: true,
                }) 
            }
        });
    }
    

    </script>
    <script>
if("<%= account_type %>" == "donor"){
    $("input#btn").on('click', function (e) {
        e.preventDefault();
        console.log($("#donordropdown").val())
        if ($("#donordropdown").val() == "Order Picked") {
            swal({
                title: "Thanks",
                text: "Thanks for the feedback",
                icon: "success",
                dangerMode: true,
            }) 

        }else{
            swal({
                title: "Sorry!",
                text: "Sorry we can't pick the food on time",
                icon: "warning",
                dangerMode: true,
            }) 
        }
    })

}
      
    </script>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>