<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
       console.log(sessionStorage)
    </script>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
<% if(account_type == "donor") { %> 
    <section id="donordashboard">
        <div>
            <h2 style="font-weight: 600;">Donor Dashboard</h2>
            <table>
                <th style="text-align: left; padding-right:35rem; font-weight:600;" class="h3">Pickup Location</th>
                <th style="text-align: right; font-weight:600;" class="h3">Acceptance</th>
                <tr>
                    <td style="text-align: left;">
                        <h5 style="float:left;">Pickup Address</h5>
                    </td>
                    <td style="text-align: right;">
                        <select>
                            <option value="I'll Pick">Order Picked</option>
                            <option value="I'll Pick">Not Available</option>
                        </select>
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Update Status" name="updatedonorstatus" id="updatedonorstatus">
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <% } %>
    <% if(account_type == "volunteer") { %> 

    <section id="volunteerdashboard">
        <div>
            <h2 style="font-weight: 600;">Volunteer Dashboard</h2>
            <table>
                <th style="text-align: left; padding-right:35rem; font-weight:600;" class="h3">Pickup Location</th>
                <th style="text-align: right; font-weight:600;" class="h3">Acceptance</th>
                <tr>
                    <td style="text-align: left;">
                        <h5 style="float:left;">Pickup Address</h5>
                    </td>
                    <td style="text-align: right;">
                        <select>
                            <option value="I'll Pick">I'll Pick</option>
                            <option value="I'll Pick">I can't pick</option>
                        </select>
                    </td>
                </tr>
            </table>

        </div>
    </section>
    <% } %>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>