<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4" style="text-align: center;">Welcome back!</h3>
                <form id="form" >
                  <div class="form-label-group">
                    <input type="email" id="username" name="username" class="form-control" placeholder="Email address" required>
                   
                  </div>
                  <div class="form-label-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                  
                  </div>

                 
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                    type="submit" id="login">Sign in</button>
                  <div class="text-center">
                    <a href="#">Forgot password?</a> / <a href="/regpage">Create New Accout</a></div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
        $("#login").on('click',function(e){
            e.preventDefault();
            let username = $("#username").val();
            let password = $("#password").val();
            let url = "/login_submit"
            $.post(url,{username:username,password:password}).done(function(data){
                console.log(data.login);
                if(data.login == "Login Successful"){
                    let geturl = data.redirect;
                    $(location).attr('href',geturl);
                }
                else if(data.unsuccessful == "Invalid Credentials"){
                    swal({
                        title:"Invalid Credentials",
                        text:"Username/Password Incorrect",
                        icon:"warning",
                        dangerMode:true,
                    }).then((willDelete) => {
                        if (willDelete) {
                          let geturl = data.redirect;
                            $(location).attr('href',geturl);
                        }
                })
                }
                else{}
            })
        })
    })
</script>
  
</body>

</html>