<div style="  height: 400px; width: 100%; background-color: grey;" id="map"></div>
<script type="text/javascript" src="js/demo.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIc93upSOh6x63OsPUntFZVcXMO_W6qLM&callback=initMap">
</script>