<!DOCTYPE html>
<html lang="en">
   
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script>
        function hideDonor() {
            $("#volunteer_reg").show()
            $("#donor_reg").hide()
        }
        function hideVolunteer() {
            $("#volunteer_reg").hide()
            $("#donor_reg").show()
        }
    </script>
    
    <script type="text/javascript">
        function validateData(){
            let formname=""
            let account_type = ""
            console.log(document.getElementById('volunteer').value)
        if( document.getElementById('volunteer').checked || document.getElementById('donor').checked){
            
            if (document.getElementById('volunteer').checked) {
                formname = document.getElementById('volunteer').value
                account_type = "volunteer"
            }
            else {formname = document.getElementById('donor').value
            account_type="donor"
        }

            console.log(formname)
                var flag = true;
                console.log(document.forms[formname].name.value)
                var name = document.forms[formname].name.value;
                var email_id= document.forms[formname].email.value;
                var address=document.forms[formname].location.value;
                var mobile_no = document.forms[formname].mobile_no.value;
                var password = document.forms[formname].password.value;
                var password_confirm = document.forms[formname].confirm_password.value;
                // var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
    
                var check=[];
                if(account_type==""){
                    check.push('Account type is Required')
                }
    
                if(/^[a-zA-Z ]{2,30}$/.test(name) == false){
                    check.push('Name Invalid/Required')
                }
                if(/^(\+\d{1,3}[- ]?)?\d{10}$/.test(mobile_no)== false){
                    check.push(' Mobile Number Invalid/Required')   
                }
                if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email_id) == false){
                    check.push(' Email Invalid/Required')
                }
                
                if(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/.test(password) == false){
                    check.push('Your password must contain atleast one uppercase, one lowercase, one numeric, one special character and should have minimum 8 characters ')
                }
                if(password !== password_confirm){
                    check.push(' Password do not match ')
    
                }
                if(address==""){
                    check.push('Address Required')  
                }
                
                
                if(check.length > 0){
                    swal({
                        title: "Invalid Input",
                        text:check.join( '\n'),
                        icon: "warning"
                        
                      })
                      console.log(check)
                    flag=false;
          }
          else{
                 //let user_id = $("#user_id").val();
                 let name = document.forms[formname].name.value;
                 let email_id = document.forms[formname].email.value;
                 let user_password = document.forms[formname].password.value;
                 let address = document.forms[formname].location.value;
                 let mobile_no = document.forms[formname].mobile_no.value;
                 //let department = $("#department").val();
                 //let designation = $("#designation").val();
                 
                 console.log("hiiiiiiiii"+document.forms[formname].email.value)
                 console.log(document.forms[formname].mobile_no.value)
 
                 var url = "/submit_regform"
 
                 if(name !=="" || email_id !=="" || user_password !=="" ||  mobile_no !=="" || address!=="" || user_type !== "")
                 {
                    console.log("hiiiiiiiii2")
                 $.post(url, {name:name, email_id:email_id,user_password:user_password,mobile_no:mobile_no,address:address,account_type:account_type}).done(function(data){
                     //console.log(data);
                     console.log("hiiiiiiiii3")
                     $("input#user_id").css("border"," 1px solid #ced4da")
                     
                     $("input#email_id").css("border"," 1px solid #ced4da")
 
                     /*col-md-4 col-sm-4 col-4 col-lg-2
 col-md-8 col-sm-8 col-6 col-lg-6
 error col-lg-4*/
                      if(data == "email id already exists"){
                        swal({
                            title: "Email Already Used",
                            text:"This Email has been already used",
                            icon: "warning"
                            
                          })
                        
                     }
                     else if(data == "mobile no id already exists"){
                        swal({
                            title: "Mobile Number Already registered",
                            text:"This Mobile Number has been already registered",
                            icon: "warning"
                            
                          })
                     }
                     if(data =="Account Created"){
                         
                        
                         swal({
                             title: "Account created",
                             text: "Account created Successfully",
                             icon: "success"
                             
                           })
                           .then((willDelete) => {
                             if (willDelete) {
                               var url = "/";
                               $(location).attr('href',url);
                             }
                           });   
                     }
                 });
             }

          }
                return flag;
                
            }
            else{
                swal({
                    title: "Account Type",
                    text:"Please Select the account type",
                    icon: "warning"
                    
                })
            }
        }
          </script>

</head>


<body onload="hideVolunteer()">
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section id="regsection">
        <div id="regtoggle">
            <input type="radio" name="account_type" id="donor" value="regDonorForm" onclick="hideVolunteer()"> Donor Registration
            &nbsp&nbsp
            <input type="radio" name="account_type" id="volunteer" value="regVolunteerForm" onclick="hideDonor()"> Volunteer Registration
        </div>

        <section id="volunteer_reg">
            <form  method="post" name="sentMessage" id="regVolunteerForm" name="regVolunteerForm">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="name" name="name" type="text" placeholder="Volunteer Name"
                            required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="email" name="email" type="email" placeholder="Email-Id"
                            required="required">
                        <p class="help-block text-danger"></p>

                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password"
                            required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="confirm_password" name="confirm_password" type="password"
                            placeholder="Confirm Password" required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="mobile_no" name="mobile_no" type="text"
                            placeholder="Mobile Number" required="required">
                        <p class="help-block text-danger"></p>

                    </div>
                </div>

                <!-- <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">
                        <input class="form-control" id="food_desc" name="food_desc" type="text"
                            placeholder="Food Description">
                        <p class="help-block text-danger"></p>
                    </div>
                </div> -->

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <input class="form-control" id="location" name="location" type="text" placeholder="Location"
                            required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group col-lg-3" style="margin-left: auto;margin-right: auto;">
                    <div class="form-group">
                        <input class="form-control btn btn-primary" class="btn" id="submit" name="submit" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </section>
        <section id="donor_reg" >
            <form name="sentMessage" id="regDonorForm" name="regDonorForm">
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="name" name="name" type="text" placeholder="Name"
                            required="required" data-validation-required-message="Please enter your name.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="email" name="email" type="email" placeholder="Email-Id"
                            required="required">
                        <p class="help-block text-danger"></p>

                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">
                        <input class="form-control" id="password" name="password" type="password" placeholder="Password"
                            required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="confirm_password" name="confirm_password" type="password"
                            placeholder="Confirm Password" required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-1">

                        <input class="form-control" id="mobile_no" name="mobile_no" type="text"
                            placeholder="Mobile Number" required="required">
                        <p class="help-block text-danger"></p>

                    </div>
                </div>


                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <input class="form-control" id="location" name="location" type="text" placeholder="Location"
                            required="required">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="form-group row d-flex justify-content-center">
                    <button type="submit" id="submit" value="send" name="Submit" class="btn btn-primary ">Submit</button>
                </div>
            </form>
        </section>

    </section>
    <script>
        $(document).ready(function(){
            $('[id="submit"]').click(function(e){
                e.preventDefault();
                // console.log("Prevented");
                // return validateData();
               if(validateData() == true){

        }
            })
        });
     </script>   


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>