<!DOCTYPE html>
<!-- <script src="js/install.js"></script> -->
<script src="js/main.js"></script>
<script type="text/javascript" src="pwabuilder-sw-register.js"></script>
<html lang="en">

<head>
  
  <link rel='manifest' href='/manifest.json'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Food Care</title>
</head>

<body id="page-top">

  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <!-- Masthead -->
  <header class="masthead  text-white text-center" id="start_intro">
    
      <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="img/food.png" alt="">

        <!-- Masthead Heading -->
        <h1 class="text-uppercase">Food Redistribution</h1>


        <!-- Masthead Subheading -->
        <p class=" font-weight-light mb-0">“If you can’t feed a hundred people, then just feed one.”
          –Mother Theresa</p>

      </div>
      </div>
   

  </header>

  <!-- Portfolio Section -->
  <div id="getinvolved">
  
    <div class="container" style="height: 600px;">
      <h2 class="page-section-heading text-center text-white text-uppercase text-secondary mb-0">GET INVOLVED</h2>
      <br>
      <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card" id="homepagecard">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="img/donate.png" alt="card image"></p>
                    <h4 class="card-title">Donate Food</h4>
                    <p class="card-text">Help us build meal reliability by donating food from your side.</p>
                    <a href="#" onclick="displayNotification()" class="btn btn-primary btn-sm">Click Here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card" id="homepagecard">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="img/volunteer.png" alt="card image"></p>
                    <h4 class="card-title">Volunteer</h4>
                    <p class="card-text">Volunteer few hours a week and help hundreds of people.</p>
                    <a href="#" class="btn btn-primary btn-sm">Click Here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card" id="homepagecard">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="img/download.png" alt="card image"></p>
                    <h4 class="card-title">Mark Feed Spots</h4>
                    <p class="card-text">Help us map hunger spots within your neighbourhood.</p>
                    <a href="#" class="btn btn-primary btn-sm">Click Here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
      </div>
    </div>

    </div>
    <!-- /.row -->

    </div>
  </div>

  <div id="about">

    <!-- About Section -->
    <div class="text-white ">
      <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <br>
        <!-- About Section Content -->
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">We at FoodCare have developed a system that helps to provide any excess food to needy people as well as underprivileged children and ensure they don’t sleep hungry. 
            </p>
            <p class="lead">Helps to ensure that with the help of our volunteers and partners we aim to achieve the global mission of zero hunger throughout the world.</p>
          </div>
          <div class="col-lg-4 ml-auto">
            <p class="lead">Our Key Initiatives</p>
            <ul>
              <li class="lead">Donating Food</li>
              <li class="lead">volunteering</li>
              <li class="lead">Mark Hunger Feed Spot</li>
            </ul>
              
            </div>
        </div>
      </div>
    </div>


  </div>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>



  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

</body>

</html>