<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
      </header>
        <section id="spreadawareness">
            <h1 >Spread Awareness</h1>
                <p style="text-align: center;">  Did you know that one-fourth of the world’s starving population lives in India – that is three times the population of France!</p>
                <p style="text-align: center;">  The first step to solving a social issue is to understand it. </p>
                <p style="text-align: center;">  We FoodCare invites you to be a part of our effort to understand the reality of malnutrition in India and discuss ways you and we can be part of the solution.</p>
                <p style="text-align: center;">  Help us in creating an awareness campaign on redistributing excess food to needy people and remove hunger completely from India.</p>
                <p style="text-align: center;">  The objective is to enhance understanding of the issue and enlist campaigns to help address the issue. 
        </section>
        <section id="fundus">
            <h1 >Fund Us</h1>
            <p style="text-align: center;">Added Perks for our volunteers to reward their act of kindness.</p>
        </section>
        <section id="fundus">
            <h1 >Food Distribution Guidelines</h1>
            <p style="text-align: center;">Everyone should follow proper food hygiene and quality checks at the point of collection, transportation and distribution of fresh or surplus cooked food. </p>
            <p style="text-align: center;">Ensure about expiry products are not expired before collecting them from donors</p>
            <p style="text-align: center;">Once you reach the feed spot (slum areas) - take a pause, meet the beneficiaries, speak with them, give them the food. Be compassionate, kind and respectful</p>
            <p style="text-align: center;">Before you set out for the donation drive take a picture with the Food Donor. </p>
            <p style="text-align: center;">Take pictures with the beneficiaries, but first, ask them if they are comfortable with being photographed. </p>
            <p style="text-align: center;">We click pictures to spread the message so more people can join the mission.
            </p>
        </section>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>
</html>