<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
      </header>
        <section id="spreadawareness"></section>
            <h1 class="text-white">Spread Awareness</h1>
            <ul>
                <li class="text-white">Did you know that one-fourth of the world’s starving population lives in India – that is three times the population of France!</li>
                <li class="text-white">The first step to solving a social issue is to understand it. We FoodCare invites you to be a part of our effort to understand the reality of malnutrition in India and discuss ways you and we can be part of the solution.
                </li>
                <li class="text-white">Help us in creating an awareness campaign on redistributing excess food to needy people and remove hunger completely from India.</li>
                <li class="text-white">The objective is to enhance understanding of the issue and enlist campaigns to help address the issue. 
                </li>
              </ul>
        </section>
        <section id="fundus">
            <h1 class="text-white">Fund Us</h1>
            <ul>
                <li class="text-white">Added Perks for our volunteers to reward their act of kindness.</li>
            </ul>
        </section>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>
</html>